#canvas {
  //   background-color: rgb(230, 203, 255);
  // height: 90vh;
  // width: 65vw;
  //   position: absolute;
  //   left: 0;

  //   top: 0;  height: 100%;
  height: 100vh;
  width: 100vw;
  // position: fixed;
  // position: absolute;
  // left: 0;
  // right: 0;
  // bottom: 0;
  // top: 0;
  padding-top: -3rem;
}
.tool-box {
  z-index: 10000;
  position: fixed;
  top: 60vh;
  left: 6vh;
  color: white;
}
#new-project-form {
  position: fixed;
  top: 85vh;
  left: 50%;
  width: 80rem;
  transform: translateX(-35%);
  color: white;
  display: flex;

  // &__input {
  // }

  // &__btn {
  // }
}
// .new-form {
//   width: 20rem;
// }
#create-project-btn {
  position: fixed;
  right: -8vw;
  top: 0vh;
  text-align: center;
  font-size: 3.5rem;
  font-weight: 400;
  height: 5rem;
  width: 5rem;
  padding: 0rem;
  border-radius: 50%;
}
.color-picker {
  // // height: 100%;
  // display: flex;
  // // width: 0;
  // position: fixed;
  // top: 2rem;

  position: absolute;
  top: 2rem;
  left: 1.5rem;
}
.undo-redo {
  position: fixed;
  top: 3rem;
  right: 3rem;
}
