.userpage {
  height: 100vh;
  position: relative;
}

.all-prj {
  position: absolute;
  left: 5rem;
  top: 9rem;
  font-size: 3rem;
  font-weight: 400;
}

.user-projects {
  position: absolute;
  left: 5.5rem;
  top: 4.5rem;
  width: 65.5vw;
  display: flex;
  flex-wrap: wrap;

  justify-content: space-evenly;
  margin: 0 auto;

  padding-top: 7rem;
}
.whiteboard {
  position: absolute;
  left: 0;
  top: 0;
  width: 70vw;
}
.carousel {
  display: flex;
  flex-direction: row;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    display: none;
  }
}
.search-bar {
  position: absolute;
  z-index: 10000;
  top: 7%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 88%;

  &__input {
    border-radius: 4rem;

    &:focus {
      border: none;
    }
  }
}
.img-wrap-thin {
  position: absolute;
  top: 1vh;
  right: 4vw;
  width: 22vw;
  height: 46vh;
}
