.project-img {
  box-sizing: border-box;
  box-shadow: 0 1rem 2rem rgba(#000000, 0.3);
  width: 33rem;
  height: 23rem;
  background-color: #f386f7;
  overflow: hidden;
  background-clip: padding-box;
  border-radius: 4.5rem;
}

.each-project {
  color: #fff;
  border-radius: 4.5rem;
  height: 23rem;
  width: 33rem;
  margin-bottom: 3rem;
  position: relative;

  &:before {
    width: 33.4rem;
    height: 23.4rem;
    content: "";
    position: absolute;
    top: -0.7rem;
    right: -0.7rem;
    z-index: -1;
    margin: 5px;
    border-radius: inherit;
    background: linear-gradient(to bottom right, #0dddfd, #9a4be9, #ff09ff);
  }
}

.svg-element {
  position: absolute;
  left: 1.4rem;
  top: 7.3rem;
  transform: scale(1.11);
}
path {
  height: 20rem;
  width: 30rem;
}

.project-title {
  position: absolute;
  top: 8rem;
  font-size: 2.4rem;
  font-weight: 400;
  text-transform: capitalize;
  margin-top: 0.8rem;
  margin-left: 0.7rem;
}
.project-description {
  overflow-wrap: break-word;
  position: absolute;
  margin-left: 3rem;
  margin-right: 3rem;
  color: rgba(255, 255, 255, 0.7);
  top: 12.5rem;
  left: 1rem;
  right: 1rem;
}
.description {
  font-size: 1.3rem;
  left: 0rem;
  top: 18rem;
}

.title {
  font-size: 2rem;
  top: 14rem;
  left: 2.3rem;
}
.user-project-img {
  position: absolute;
  top: 0.33rem;
  left: 0.38rem;
  height: 8.2rem;
  width: 8.2rem;
  border-radius: 50%;
}
.img-wrap {
  position: absolute;
  z-index: 20000;
  top: 6rem;
  left: 11rem;
  background-image: linear-gradient(to bottom right, #0dddfd, #9a4be9, #ff09ff);
  height: 9rem;
  width: 9rem;
  border-radius: 50%;
}
