.project-container {
  cursor: pointer;
  transition: all 0.4s ease-in-out;
  position: relative;
  // position: relative;
  // z-index: 30000;
  &__delete-btn {
    position: absolute;
    top: 1rem;
    right: 2rem;

    color: white;
    text-decoration: none;

    opacity: 0.3;
    font-size: 2rem;
    transition: all 0.4s ease-in-out;
    &:hover {
      opacity: 1;
      color: white;
    }
  }
  &:hover {
    transform: scale(1.1);
  }
}
.project-container-personal {
  cursor: pointer;
  transition: all 0.4s ease-in-out;
  position: relative;
  // position: relative;
  // z-index: 30000;
  &__delete-btn {
    position: absolute;
    top: 1rem;
    right: 2rem;

    color: white;
    text-decoration: none;

    opacity: 0.3;
    font-size: 2rem;
    transition: all 0.4s ease-in-out;
    &:hover {
      opacity: 1;
      color: white;
    }
  }
  &:hover {
    transform: scale(1.05);
  }
}

.each-project-personal {
  color: #fff;
  // cursor: pointer;
  border-radius: 6rem;
  height: 33rem;
  width: 45rem;
  margin-bottom: 5rem;
  position: relative;

  &:before {
    height: 33.4rem;
    width: 45.4rem;

    content: "";
    position: absolute;
    top: -0.7rem;
    right: -0.7rem;
    // bottom: 0;
    // left: 0;
    z-index: -1;
    margin: 5px;
    border-radius: inherit;
    background: linear-gradient(to bottom right, #0dddfd, #9a4be9, #ff09ff);
  }
  // overflow: hidden;
}

.project-img-personal {
  box-sizing: border-box;
  box-shadow: 0 1rem 2rem rgba(#000000, 0.3);
  // border: solid 1px #6d466e;
  height: 33rem;
  width: 45rem;
  background-color: #f386f7;
  overflow: hidden;
  // border: 1px solid;
  background-clip: padding-box;
  // border-image-slice: 1;
  border-radius: 6rem;
  // border-image-source: linear-gradient(to left, #743ad5, #d53a9d);
}
.svg-element-personal {
  position: absolute;
  left: 7.5rem;
  top: 14.3rem;
  transform: scale(1.51);

  // overflow: hidden;
}
path {
  height: 20rem;
  width: 30rem;
}

.project-title-personal {
  font-size: 3rem;
  font-weight: 400;
  position: absolute;
  top: 18rem;
  left: 2rem;
  text-transform: capitalize;
}
.project-description-personal {
  font-size: 1.5rem;
  font-weight: 400;
  position: absolute;
  top: 23rem;
  left: 2rem;
}
.delete-personal {
  font-size: 3rem;
  right: 3rem;
}
.loader {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 6rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.loader:before,
.loader:after {
  content: "";
  position: absolute;
  border-radius: 50%;
  animation: pulsOut 1.8s ease-in-out infinite;
  filter: drop-shadow(0 0 1rem rgba(255, 255, 255, 0.75));
}
.loader:before {
  width: 100%;
  padding-bottom: 100%;
  box-shadow: inset 0 0 0 1rem #fff;
  animation-name: pulsIn;
}
.loader:after {
  width: calc(100% - 2rem);
  padding-bottom: calc(100% - 2rem);
  box-shadow: 0 0 0 0 #fff;
}

@keyframes pulsIn {
  0% {
    box-shadow: inset 0 0 0 1rem #fff;
    opacity: 1;
  }
  50%,
  100% {
    box-shadow: inset 0 0 0 0 #fff;
    opacity: 0;
  }
}

@keyframes pulsOut {
  0%,
  50% {
    box-shadow: 0 0 0 0 #fff;
    opacity: 0;
  }
  100% {
    box-shadow: 0 0 0 1rem #fff;
    opacity: 1;
  }
}
