.navigation {
  position: fixed;
  width: 7%;
  z-index: 25000;
}

.nav-bar-new {
  height: 100vh;
}

.menu-bar {
  height: 100%;
  position: absolute;
  top: 8rem;
  left: 0;
  width: 7%;
  display: flex;
  flex-direction: column;

  a {
    opacity: 0.5;
    transition: all 0.2s ease-in-out;
    list-style: none;
    font-size: 2.5rem;
    padding: 9px 7px;
    margin: 0 8px;
    position: relative;
    cursor: pointer;
    width: 3rem;
    &:hover {
      transform: scale(1.3);
      opacity: 1;
    }
  }
}

.nav-link {
  &,
  &:link,
  &:visited {
    color: white;
    text-decoration: none;
    display: inline-block;
    position: relative;
    border: none;
  }
}
